# Dependencies
node_modules/
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Testing
coverage/

# Turbo
.turbo/

# Vercel
.vercel/

# Build Outputs
.next/
/out/
build/
dist/
data/
target/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
.eslintcache

# jetbrains
.idea/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# vscode
.vscode/
.history/
*.vsix

# Misc
.store/
*.node
.DS_Store
*.pem
